<p>
  <b>Name:</b>
  <%=h @profile.name %>
</p>

<p>
  <b>Command:</b>
  <%=h @profile.command %>
</p>

<p>
  <b>Extension:</b>
  <%=h @profile.extension %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>