<h1>Conversion Log</h1>

<table>
  <tr>
    <th>Video</th>
    <th>Profile</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Status</th>
  </tr>

<% @conversions.each do |conversion| %>
  <tr>
    <td><%= conversion.video.nil? ? 'Unknown' : link_to(conversion.video.name, conversion.video) %></td>
    <td><%= conversion.profile.nil? ? 'Unknown' : link_to(conversion.profile.name, conversion.profile) %></td>
    <td><%=h conversion.start_time %></td>
    <td><%=h conversion.end_time %></td>
    <td><%=h conversion.status %></td>
    <td><%= link_to 'Show', conversion %></td>
    <td><%= link_to 'Delete Log', conversion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
