<p>
  <b>Video:</b>
  <%= link_to @conversion.video.name, @conversion.video %>
</p>

<p>
  <b>Profile:</b>
  <%= link_to @conversion.profile.name, @conversion.profile %>
</p>

<p>
  <b>Start time:</b>
  <%=h @conversion.start_time %>
</p>

<p>
  <b>End time:</b>
  <%=h @conversion.end_time %>
</p>

<p>
  <b>Status:</b>
  <%=h @conversion.status %>
</p>

<p>
  <b>Log:</b>
  <%=h @conversion.log %>
</p>


<%= link_to 'Edit', edit_conversion_path(@conversion) %> |
<%= link_to 'Back', conversions_path %>