<h1>Videos</h1>
<%= link_to 'New video', new_video_path %>

<% @videos.each do |video| %>
  <div class="video_index span-24">
    <%= render :partial=> 'video_box', :locals => {:video => video} %>
    <div class="span-23 last push-1">
      <h3><%= link_to_function "Thumbnails", "$('thumbnails_" + video.id.to_s + "').toggle();" %></h3>
      <div id="thumbnails_<%= video.id %>" style="display:none;">
        <%= render :partial => 'thumbnails/grid', :locals => {:thumbnails => video.thumbnails, :video => video, :controls => false} %>
      </div>
    </div>
  </div>
<% end %>
