<div class="span-24">
  <h1><%=h @video.name %></h1>
</div>
<div class="span-24" id="details">
  <div class="push-1 span-3 large">Size: <%= @video.hw %></div>
  <div class="span-4 large">Duration: <%= @video.timecode %></div>
  <div class="span-4 large">Format: <%= @video.format %></div>
  <% unless @video.parent_id.nil? %><div class="span-3 large"><%= link_to "View Parent", @video.parent %></div><% end %>
  <% unless @video.profile_id.nil? %><div class="span-6 large">Converted via <%= link_to @video.profile.name, @video.profile %></div><% end %>
</div>
<div class="span-24" style="text-align: right;">
  <%= link_to 'Edit', edit_video_path(@video) %> |
  <%= link_to 'Delete', @video, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to 'All Videos', videos_path %>
</div>
<h2>Download <%= link_to "#{@video.asset_file_name}", @video.asset.url %> [<%= number_to_human_size(@video.asset_file_size) %>]</h2>
<div class="span-24 clearfix" id="av">
  <div class="span-11" id="video">
    <div class="span-11"><h3><%= link_to_function "Video", "$('v_details').toggle();" %></h3></div>
    <div class="span-11 container" id="v_details" style="display:none;">
      <div class="span-6">Codec: <%= @video.video_codec %></div>
      <div class="span-5 last">Bitrate: <%= @video.video_bitrate %></div>
      <div class="span-6">Frame Rate: <%= @video.video_frame_rate %></div>
      <div class="span-6 last"><%= "Resolution: " + @video.video_resolution.to_s unless @video.video_resolution.blank? %></div>
    </div>
  </div>
  <div class="span-11 last" id="audio">
    <div class="span-11"><h3><%= link_to_function "Audio", "$('a_details').toggle();" %></h3></div>
    <div class="span-11 container" id="a_details" style="display:none;">
      <div class="span-6">Codec: <%= @video.audio_codec %></div>
      <div class="span-5 last">Bitrate: <%= @video.audio_bitrate %></div>
      <div class="span-6">Sample Rate: <%= @video.audio_sample_rate %></div>
      <div class="span-5 last"><%= "Resolution " + @video.audio_resolution.to_s unless @video.audio_resolution.blank? %></div> 
    </div>
  </div>

</div>


<div class="span-23 last" id="thumbs">
<h3>Thumbnails</h3>
<%= render :partial => 'thumbnails/grid', :locals => {:thumbnails => @video.thumbnails, :video => @video, :controls => true} %>
</div>

<div class="span-7 clearfix" id="children">
  <h3>Derivatives</h3>
  <ul>
  <% @video.children.each do |v| %>
    <li>
      <%= link_to v.name, v, :title=>"#{v.hw}/#{v.format}/#{v.video_codec}" %> - <%= v.profile.name %> <br />
      <%= number_to_human_size(v.asset_file_size) %> | <%= v.created_at %>
    </li>
  <% end %>
  </ul>
  <h3>Other Conversions</h3>
  <ul>
  <% @video.conversions.each do |c| %>
    <% if c.status != 'complete' %>
    <li>
      <%= link_to c.profile.name, c %> - <%= c.status %> <br />
      <%= "Started at " + c.start_time.to_s if c.end_time.blank? %>
      <%= "Ended at " + c.end_time.to_s unless c.end_time.blank? %>
    </li>
    <% end %>
  <% end %>
  </ul>
  <div>
    <% form_for(@conversion) do |c|%>
      <%= c.collection_select :profile_id, @profiles, :id, :name %>
      <%= c.hidden_field(:video_id) %>
      <%= c.submit 'Convert' %>
    <% end %>
  </div>
</div>
<div class="span-16 last" id="playback">
  <h3>Playback</h3>
  <div>
  <%= render :partial => "videos/playback/handler", :locals => { :video => @video } %>
  </div>
</div>