<h1>New Thumbnail for <%= @thumbnail.video.name.titleize %></h1>

<% form_for([ @thumbnail.video, @thumbnail ]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :timecode %><br />
    <%= f.text_field :timecode %><br />
    [Video duration - <%= @thumbnail.video.timecode %>]
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', video_thumbnails_path %>