<p>
  <b>Video:</b>
  <%=link_to @thumbnail.video.name, @thumbnail.video %>
</p>

<p>
  <b>Timecode:</b>
  <%=h @thumbnail.timecode %>
</p>

<p>
  <b>Status:</b>
  <%=h @thumbnail.status %>
</p>

<%= image_tag @thumbnail.image.url %>
<br />

<%= link_to 'Back', video_thumbnails_path(@thumbnail.video) %>