<html>
  <head>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag "blueprint/screen" %>
    <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
    <%= stylesheet_link_tag "blueprint/plugins/buttons/screen" %>
    <%= stylesheet_link_tag "main" %>
    <!--[if lt IE 8]><%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %><![endif]-->
    <title>Bonsai Video</title>
  </head>
  <body>
    <div class="container" id="header">
      <div class="span-24">
          <div class="span-4 header_item"><%= link_to 'Videos', videos_path %></div>
          <div class="span-5 header_item"><%= link_to 'Conversion Log', conversions_path %></div>
          <div class="span-5 header_item last"><%= link_to 'Available Profiles', profiles_path %></div>
      </div>
      <div class="span-24" id="main">
          <%= yield :layout %>
      </div>
      <div class="span-24" id="footer">
          
      </div>
    </div>
</html>